[submodule "third_party/quickjs-ng"]
	path = third_party/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "third_party/libsquash"]
	path = third_party/libsquash
	url = https://github.com/pmq20/libsquash.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/walink"]
	path = third_party/walink
	url = https://github.com/jc-lab/walink.git
